.button {
  padding: 16px 8px;
  background-color: rgba(28, 118, 213, 1);
  border-radius: 8px;
  color: white;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}

.button:hover {
  background-color: rgb(24, 99, 180);
}

.button:active {
  background-color: rgba(28, 118, 213, 1);
}
